.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   background-color: aliceblue;
   border-style: ridge;
   border-color:darkorchid;
   border-width: 10px;
}

button{
     font-size:30px;
     font-weight: bold;
}